<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dev</key>
	<dict>
		<key>ver</key>
		<string>http://pes2.dev.gdy.io</string>
		<key>fs_url</key>
		<string>https://fs.dev.gdy.io</string>
		<key>main</key>
		<string>http://akxs.dev.gdy.io</string>
		<key>sso</key>
		<string>https://sso.dev.gdy.io</string>
		<key>cocos</key>
		<string>http://cocostest.aikexue.com</string>
		<key>verifyType</key>
		<string>sandbox</string>
		<key>pushTags</key>
		<string>test_dev</string>
		<key>share_url</key>
		<string>http://m.aikexue.dev.gdy.io</string>
		<key>order</key>
		<string>http://order.aikexue.dev.gdy.io</string>
	</dict>
	<key>chk</key>
	<dict>
		<key>ver</key>
		<string>https://pes2.chk.gdy.io</string>
		<key>fs_url</key>
		<string>https://fs.chk.gdy.io</string>
		<key>main</key>
		<string>http://akxs.chk.gdy.io</string>
		<key>sso</key>
		<string>https://sso.chk.gdy.io</string>
		<key>cocos</key>
		<string>http://cocostest.aikexue.com</string>
		<key>verifyType</key>
		<string>sandbox</string>
		<key>pushTags</key>
		<string>test_chk</string>
		<key>share_url</key>
		<string>http://m.aikexue.chk.gdy.io</string>
		<key>order</key>
		<string>http://order.aikexue.chk.gdy.io</string>
	</dict>
	<key>chk2</key>
	<dict>
		<key>ver</key>
		<string>http://pes2.dyfchk2.aikexue.com</string>
		<key>fs_url</key>
		<string>https://fs.dyfchk2.kuxiao.cn</string>
		<key>main</key>
		<string>http://akxs.dyfchk2.aikexue.com</string>
		<key>sso</key>
		<string>http://sso.dyfchk2.aikexue.com</string>
		<key>cocos</key>
		<string>http://cocostest.aikexue.com</string>
		<key>verifyType</key>
		<string>sandbox</string>
		<key>pushTags</key>
		<string>test_chk2</string>
		<key>share_url</key>
		<string>http://m.dyfchk2.aikexue.com</string>
		<key>order</key>
		<string>http://order.dyfchk2.aikexue.com</string>
	</dict>
	<key>kuxiao</key>
	<dict>
		<key>ver</key>
		<string>http://akxs.aikexue.com</string>
		<key>fs_url</key>
		<string>https://fs.kuxiao.cn</string>
		<key>main</key>
		<string>http://akxs.aikexue.com</string>
		<key>sso</key>
		<string>http://sso.aikexue.com</string>
		<key>cocos</key>
		<string>http://cocos.aikexue.com</string>
		<key>verifyType</key>
		<string>production</string>
		<key>pushTags</key>
		<string>real_user</string>
		<key>share_url</key>
		<string>http://m.aikexue.com</string>
		<key>order</key>
		<string>http://order.aikexue.com</string>
	</dict>
</dict>
</plist>
